.git
.github
.gitignore

.venv
venv
env

__pycache__
*.py[cod]
*$py.class
.pytest_cache
.mypy_cache
.ruff_cache

.env
backend/.env

.idea
.vscode

frontend/node_modules
node_modules

backend/storage/*
!backend/storage/.gitkeep

*.log
*.sqlite
*.sqlite3

docs
README.md
LICENSE